/* ELEMENTS COMMUNS */

body {
    margin:0;
    padding:0;
    width:100vw;
    height: 100vh;
    background: white;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

#container {
    width: 100%;
    height: 100%;
    background-color:white;
    border: none;
}


#score-div {
        position: fixed;
        right: 2vw;
        top: 2vh;
        background-color:rgba(255, 255, 255, 0.801);
        z-index: 3;
        padding: 10px;
        visibility: visible;
    }

#score {
    display: block;
    font-size: 5vh;
    color: black;
    z-index: 3;
    font-weight:bold;
}

.red {
  color: #DB5461;
  font-weight: bold;
}

/* GENERAL / GAME INFOS */

#gameInfo-div {
        position: absolute;
        width:fit-content;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: 20vh;
        background-color:rgba(255, 255, 255, 0.801);
        z-index: 2;
        padding: 10px;
        visibility: visible;
    }

#gameInfo {
      display: block;
      font-size: 5vh;
      color: black;
      z-index: 2;
      font-weight:bold;
  }

#gameInfo1 {
  text-align: center;
    display: block;
    font-size: 5vh;
    color: black;
    z-index: 2;
    font-weight:normal;
}

#gameInfo2 {
  text-align: center;
  display: block;
  font-size: 5vh;
  color: black;
  z-index: 2;
  font-weight:bold;
}

.pulsate-bck {
	-webkit-animation: pulsate-bck 0.5s ease-in-out infinite both;
	        animation: pulsate-bck 0.5s ease-in-out infinite both;
}

.heartbeat {
	-webkit-animation: heartbeat 1.5s ease-in-out 2 both;
	        animation: heartbeat 1.5s ease-in-out 2 both;
}

/*GENERAL - RECAP */

#recap {
  position: absolute;
  width:fit-content;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 20vh;
  width: 25vw;
  background-color:rgb(255, 255, 255);
  border: solid black 4px;
  z-index: 4;
  padding: 30px;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}


#recap-text {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  border: none;
  left: 0;
  right: 0;
  margin: 2vh auto;
  font-size: 40px;
}

#recap-answer {
  font-family: 'Parisienne', cursive;
  text-align: center;
  border: none;
  left: 0;
  right: 0;
  margin: 0 auto;
  font-size: 25px;
}

#recap-score {
  text-align: center;
  border: none;
  height: fit-content;
  padding: 10px 30px;
  left: 0;
  right: 0;
  margin: 4vh auto 2vh;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: bold;
  background-color: black;
  color: white;

}

#recap-table{
  margin: 0vh auto 5vh;
  width: 25vw;
  text-align: center;
  font-family: "Montserrat Light", sans-serif;
}

#recap-table td {
  padding: 3px;
  text-align: center;
}


/* GENERAL - TITLES */

#titles {
        position: fixed;
        width: fit-content;
        top: 2vh;
        left: 2vw;
        z-index: 3;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-color:rgba(255, 255, 255, 0.801);
        height: fit-content;
        padding: 10px;
        visibility: visible;
    }

h1 {
    font-size: 5vh;
    color: black;
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
}

h4 {
    margin-top:2px;
    font-size: 2vh;
    color: black;
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    font-weight: lighter;
}


.btn {
        width: 250px;
        height: 40px;
        border: black 3px solid;
        color: black;
        background-color: white;
        font-size: 15px;
        font-family: "Montserrat", sans-serif;
}

/* RESULTS PAGE*/

#top10 {
  margin-top: 5vh;
}

#result-container {
  width: 100%;
  height: 80vh;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding-top: 15vh;
}

#result-text {
  text-align: center;
  border: none;
  left: 0;
  right: 0;
  margin: 0 auto;
  font-family: 'Parisienne', cursive;
  font-size: 30px;
}

#result-container > p:nth-child(2) {
  font-size: 50px;
  margin: 3vh auto 3vh;
  font-family: 'Parisienne', cursive;
  font-weight: bold;
}

#total-score {
  text-align: center;
  border: none;
  height: fit-content;
  padding: 10px 30px;
  left: 0;
  right: 0;
  margin: 3vh auto 3vh;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: bold;
  background-color: black;
  color: white;

}

#table-result {
  width: 30vw;
  text-align: center;
  font-family: "Montserrat Light", sans-serif;
  margin-bottom: 5vh;
}

.#table-result td {
  padding: 3px;
}


/* GAME INTROS*/




#intro-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#intro-title {
  margin-top: 17vh;
  font-family: "Montserrat", sans-serif;
  font-size: 15vh;
  font-weight: bold;
}



#intro-container .wrapper-intro:nth-child(1) {
  margin-top: 5vh;
  margin-bottom: 0vh;
}

@import url("https://fonts.googleapis.com/css?family=Montserrat:900");
 .wrapper-intro {
	 animation: sliding-background 40s linear infinite;
	 background: url("./Ressources/Music/Pics/i4.jpg") no-repeat left / 120%;
	 height: 22vh;
	 text-align: center;
	 width: 100%;
}
 .title-intro {
   position: absolute;
	 background: white;
	 color: black;
	 font-family: "Montserrat", sans-serif;
	 font-size: 11vw;
	 letter-spacing: 1vw;
   line-height: 23vh;
   width: 100%;
	 margin: 0;
	 mix-blend-mode: lighten;
	 text-transform: uppercase;
	 text-shadow: 0 0 0px, 1px 1px black, 2px 2px black, 3px 3px black, 4px 4px black, 5px 5px black, 6px 6px black, 7px 7px black, 8px 8px black, 9px 9px black, 10px 10px black, 11px 11px black, 12px 12px black, 13px 13px black, 14px 14px black, 15px 15px black, 16px 16px black, 17px 17px black, 18px 18px black, 19px 19px black, 20px 20px black;
}
 .title-intro:before {
	 color: white;
	 content: attr(data-text);
	 margin-left: -1%;
	 margin-top: -1%;
	 position: absolute;
}

#intro-text {
  z-index: 2;
  text-align: center;
  border: none;
  left: 0;
  right: 0;
  margin: 5vh auto 7vh;
  font-family: 'Parisienne', cursive;
  font-size: 30px;
}
 


/*

#intro-container {
        position: absolute;
        width: 50vw;
        height: fit-content;
        margin: auto 20%;
        border-left: solid 2px;
        padding-left: 2%;  
        top: 0;
        bottom: 0;
        left:0;
        right:0;
}


#intro-title {
        font-family:Arial, Helvetica, sans-serif;
        font-style: italic;
        font-weight: bold;
        font-size: 70px;
}


.intro-text {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 30px;
}

#highlighted-text {
        color:blue;
        font-weight: 500;

}

*/



/* HOME 2 */

#home-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column
}


@import url("https://fonts.googleapis.com/css?family=Montserrat:900");
 .wrapper {
	 animation: sliding-background 40s linear infinite;
	 background: "./Ressources/Home Page/i4.JPG" no-repeat left / 120%;
	 height: 60vh;
	 text-align: center;
	 width: 100%;
}
 .title {
   position: absolute;
	 background: white;
	 color: black;
	 font-family: "Montserrat", sans-serif;
	 font-size: 20vw;
	 letter-spacing: 2vw;
   line-height: 61vh;
   width: 100%;
	 margin: 0;
	 mix-blend-mode: lighten;
	 text-transform: uppercase;
	 text-shadow: 0 0 0px, 1px 1px black, 2px 2px black, 3px 3px black, 4px 4px black, 5px 5px black, 6px 6px black, 7px 7px black, 8px 8px black, 9px 9px black, 10px 10px black, 11px 11px black, 12px 12px black, 13px 13px black, 14px 14px black, 15px 15px black, 16px 16px black, 17px 17px black, 18px 18px black, 19px 19px black, 20px 20px black;
}
 .title:before {
	 color: white;
	 content: attr(data-text);
	 margin-left: -1%;
	 margin-top: -1%;
	 position: absolute;
}
 @keyframes sliding-background {
	 0%, 100% {
		 background-position: 0 40%;
	}
	 50% {
		 background-position: 100% 40%;
	}
}

#home {
  z-index: 2;
  text-align: center;
  border: none;
  left: 0;
  right: 0;
  margin: -6vh auto 5vh;
  font-family: 'Parisienne', cursive;
  font-size: 30px;
}
 

#intro-button {
  z-index: 2;
  border: none;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 60px;
  height: 60px;
  z-index: 4;
  background: url("./Ressources/Home Page/play-button.png");
  background-size: cover;
}


/* MAP GAME */


#image-div {
  position: relative;
  width: 100%;
  height: fit-content;
  align-items: left;
  display: flex;
  background: black;
  object-fit: cover;
}

#map-image {
  max-width: 100%;
}

#pic-element {
  position: fixed;
  visibility: visible;
  width:600px;
  height:fit-content;
  left: 0;
  right: 0;
  top:25vh;
  margin: auto;
  background-color:rgba(255, 255, 255, 0.801);
  z-index: 2;
  padding: 10px;
}

#pic-map {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.pin-cursor {
  cursor: url('./Ressources/Plan Paris/pin-8-64.png'), auto;	
}

/*
#image-div {
        position: relative;
        width: 100%;
        height: 100%;
        align-items: center;
        display: flex;
        justify-content: center;
        background: black;
}

#map-image {
        position: absolute;
        margin: auto;
        text-align: center;
        max-width: 100%;
        max-height: 100%;
}*/


/* PICS GAME */

#pics-container {
        position: absolute;
        top: 19vh;
        left: 16%;
        height: 74%;
        width: 70%;
        display: grid;
        grid-template-columns: 48% 4% 48%;
        grid-template-rows: 47% 6% 47%;
        overflow: hidden;

}

.pics-block {
        width: 100%;
        height: 100%;
        overflow: hidden;
}

.pics-element {
        width: 100%;
        height: 100%;
        object-fit: cover;
}

#block1 {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 1;
}

#block2 {
        grid-column-start: 3;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 1;
}


#block3 {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 3;
        grid-row-end: 3;
}


#block4 {
        grid-column-start: 3;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 3;
}

.flip-in-ver-left {
	-webkit-animation: flip-in-ver-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: flip-in-ver-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}




/* PAGE MUSIC */

#input-div {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

#music-input {
    display: block;
    text-align: center;
    font-size: 15vh;
    width: 10px;
    color:black;
    background-color:rgba(255, 255, 255, 0.5);
    border: 0px solid;
    outline: none;
    font-weight: bold;
}

#music-image {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    /* top:0%;
    left:0%;
    background-size:cover;
 */
}

#music-button {
    position:absolute;
    right: 10%;
    bottom: 10%;
}

#button-div {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#start-button {
    z-index: 3;
}

/* input ok */

.heartbeat {
	-webkit-animation: heartbeat 1s ease-in-out both;
	        animation: heartbeat 1s ease-in-out both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-1-17 16:31:17
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
 @-webkit-keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  @keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  

/* input nok */

.shake-horizontal {
	-webkit-animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-1-17 16:0:7
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shake-horizontal
 * ----------------------------------------
 */
 @-webkit-keyframes shake-horizontal {
    0%,
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
    }
    20%,
    40%,
    60% {
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
    }
    80% {
      -webkit-transform: translateX(8px);
              transform: translateX(8px);
    }
    90% {
      -webkit-transform: translateX(-8px);
              transform: translateX(-8px);
    }
  }
  @keyframes shake-horizontal {
    0%,
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
    }
    20%,
    40%,
    60% {
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
    }
    80% {
      -webkit-transform: translateX(8px);
              transform: translateX(8px);
    }
    90% {
      -webkit-transform: translateX(-8px);
              transform: translateX(-8px);
    }
  }
  

/* PAGE INTRODUCTION */

#content-intro {
    position: fixed;
    top: 60vh;
    left:10vw;
    width:80vw;
}

span.intro {
    width: 100%;
    display: block;
    font-size: 10vh;
    color: white;
}

#intro3 {
    color:purple;
}

.next-button {
    background-color:white;
    color: black;
    border-radius: 50%;
    font-size: 50px;
    text-decoration: black;
    width: 50px;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    right:10vw;
    top: 50%;
  }



/* VIDEO INTRO */
#video-intro {
    position: fixed;
    left: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
  }


  /* Key Frames */



      /* ----------------------------------------------
 * Generated by Animista on 2020-1-20 12:38:22
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation pulsate-bck
 * ----------------------------------------
 */
@-webkit-keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2020-1-20 14:47:7
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
 @-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2020-1-22 18:42:13
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-in-ver-left
 * ----------------------------------------
 */
 @-webkit-keyframes flip-in-ver-left {
  0% {
    -webkit-transform: rotateY(80deg);
            transform: rotateY(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    opacity: 1;
  }
}
@keyframes flip-in-ver-left {
  0% {
    -webkit-transform: rotateY(80deg);
            transform: rotateY(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    opacity: 1;
  }
}


  /* A EXECUTER A LA FIN */

