/* ELEMENTS COMMUNS */

body {
    margin:0;
    padding:0;
    width:100vw;
    height: 100vh;
    background: white;
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    width: 100%;
    height: 100%;
    background-color:white;
    border: none;
}


#score-div {
        position: fixed;
        right: 2vw;
        top: 2vh;
        background-color:rgba(255, 255, 255, 0.801);
        z-index: 3;
        padding: 10px;
        visibility: visible;
    }

#score {
    display: block;
    font-size: 5vh;
    color: black;
    z-index: 3;
    font-weight:bold;
}

/* GENERAL / GAME INFOS */

#gameInfo-div {
        position: absolute;
        width:fit-content;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: 20vh;
        background-color:rgba(255, 255, 255, 0.801);
        z-index: 2;
        padding: 10px;
        visibility: visible;
    }

#gameInfo {
      display: block;
      font-size: 5vh;
      color: black;
      z-index: 2;
      font-weight:bold;
  }

#gameInfo1 {
  text-align: center;
    display: block;
    font-size: 5vh;
    color: black;
    z-index: 2;
    font-weight:normal;
}

#gameInfo2 {
  text-align: center;
  display: block;
  font-size: 5vh;
  color: black;
  z-index: 2;
  font-weight:bold;
}

.pulsate-bck {
	-webkit-animation: pulsate-bck 0.5s ease-in-out infinite both;
	        animation: pulsate-bck 0.5s ease-in-out infinite both;
}

.heartbeat {
	-webkit-animation: heartbeat 1.5s ease-in-out 2 both;
	        animation: heartbeat 1.5s ease-in-out 2 both;
}

/*GENERAL - RECAP */

#recap {
  position: absolute;
  width:fit-content;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 20vh;
  background-color:rgb(255, 255, 255);
  border: solid black 4px;
  z-index: 4;
  padding: 50px;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#recap span {
  text-align: center;
  display: block;
  font-size: 3vh;
  color: black;
  z-index: 4;
  font-weight:normal;
}


/* GENERAL - TITLES */

#titles {
        position: fixed;
        width: fit-content;
        top: 2vh;
        left: 2vw;
        z-index: 3;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-color:rgba(255, 255, 255, 0.801);
        height: fit-content;
        padding: 10px;
        visibility: visible;
    }

h1 {
    font-size: 5vh;
    color: black;
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
}

h4 {
    margin-top:2px;
    font-size: 2vh;
    color: black;
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    font-weight: lighter;
}


.btn {
        width: 200px;
        height: 50px;
        color: white;
        background-color: black;
        border-radius: 10px;
        font-size: 20px;
}

/* GAME INTROS*/

#intro-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column
}

#intro-container .wrapper-intro:nth-child(1) {
  margin-top: 5vh;
  margin-bottom: 0vh;
}

@import url("https://fonts.googleapis.com/css?family=Montserrat:900");
 .wrapper-intro {
	 animation: sliding-background 40s linear infinite;
	 background: url("./Ressources/Music/Pics/i9.jpg") no-repeat left / 120%;
	 height: 22vh;
	 text-align: center;
	 width: 100%;
}
 .title-intro {
   position: absolute;
	 background: white;
	 color: black;
	 font-family: "Montserrat", sans-serif;
	 font-size: 11vw;
	 letter-spacing: 1vw;
   line-height: 23vh;
   width: 100%;
	 margin: 0;
	 mix-blend-mode: lighten;
	 text-transform: uppercase;
	 text-shadow: 0 0 0px, 1px 1px black, 2px 2px black, 3px 3px black, 4px 4px black, 5px 5px black, 6px 6px black, 7px 7px black, 8px 8px black, 9px 9px black, 10px 10px black, 11px 11px black, 12px 12px black, 13px 13px black, 14px 14px black, 15px 15px black, 16px 16px black, 17px 17px black, 18px 18px black, 19px 19px black, 20px 20px black;
}
 .title-intro:before {
	 color: white;
	 content: attr(data-text);
	 margin-left: -1%;
	 margin-top: -1%;
	 position: absolute;
}

#intro-text {
  z-index: 2;
  text-align: center;
  border: none;
  left: 0;
  right: 0;
  margin: 5vh auto 5vh;
  font-family: 'Parisienne', cursive;
  font-size: 30px;
}
 


/*

#intro-container {
        position: absolute;
        width: 50vw;
        height: fit-content;
        margin: auto 20%;
        border-left: solid 2px;
        padding-left: 2%;  
        top: 0;
        bottom: 0;
        left:0;
        right:0;
}


#intro-title {
        font-family:Arial, Helvetica, sans-serif;
        font-style: italic;
        font-weight: bold;
        font-size: 70px;
}


.intro-text {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 30px;
}

#highlighted-text {
        color:blue;
        font-weight: 500;

}

*/



/* HOME 2 */

#home-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column
}


@import url("https://fonts.googleapis.com/css?family=Montserrat:900");
 .wrapper {
	 animation: sliding-background 40s linear infinite;
	 background: url("./Ressources/Home\ Page/i2.JPG") no-repeat left / 120%;
	 height: 60vh;
	 text-align: center;
	 width: 100%;
}
 .title {
   position: absolute;
	 background: white;
	 color: black;
	 font-family: "Montserrat", sans-serif;
	 font-size: 20vw;
	 letter-spacing: 2vw;
   line-height: 61vh;
   width: 100%;
	 margin: 0;
	 mix-blend-mode: lighten;
	 text-transform: uppercase;
	 text-shadow: 0 0 0px, 1px 1px black, 2px 2px black, 3px 3px black, 4px 4px black, 5px 5px black, 6px 6px black, 7px 7px black, 8px 8px black, 9px 9px black, 10px 10px black, 11px 11px black, 12px 12px black, 13px 13px black, 14px 14px black, 15px 15px black, 16px 16px black, 17px 17px black, 18px 18px black, 19px 19px black, 20px 20px black;
}
 .title:before {
	 color: white;
	 content: attr(data-text);
	 margin-left: -1%;
	 margin-top: -1%;
	 position: absolute;
}
 @keyframes sliding-background {
	 0%, 100% {
		 background-position: 0 40%;
	}
	 50% {
		 background-position: 100% 40%;
	}
}

#home {
  z-index: 2;
  text-align: center;
  border: none;
  left: 0;
  right: 0;
  margin: -6vh auto 8vh;
  font-family: 'Parisienne', cursive;
  font-size: 30px;
}
 

#intro-button {
  z-index: 2;
  border: none;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 60px;
  height: 60px;
  z-index: 4;
  background: url("./Ressources/Home Page/play-button.png");
  background-size: cover;
}

.flicker-in-1 {
	-webkit-animation: flicker-in-1 2s linear 1s both;
	        animation: flicker-in-1 2s linear 1s both;
}


/* MAP GAME */


#image-div {
  position: relative;
  width: 100%;
  height: fit-content;
  align-items: left;
  display: flex;
  background: black;
  object-fit: cover;
}

#map-image {
  max-width: 100%;
}

#pic-element {
  position: fixed;
  visibility: visible;
  width:600px;
  height:fit-content;
  left: 0;
  right: 0;
  top:25vh;
  margin: auto;
  background-color:rgba(255, 255, 255, 0.801);
  z-index: 2;
  padding: 10px;
}

#pic-map {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}


/*
#image-div {
        position: relative;
        width: 100%;
        height: 100%;
        align-items: center;
        display: flex;
        justify-content: center;
        background: black;
}

#map-image {
        position: absolute;
        margin: auto;
        text-align: center;
        max-width: 100%;
        max-height: 100%;
}*/


/* PICS GAME */

#pics-container {
        position: absolute;
        top: 20vh;
        left: 15%;
        height: 70%;
        width: 70%;
        display: grid;
        grid-template-columns: 47% 5% 47%;
        grid-template-rows: 45% 10% 45%;
        overflow: hidden;

}

.pics-block {
        width: 100%;
        height: 100%;
        overflow: hidden;
}

.pics-element {
        width: 100%;
        height: 100%;
        object-fit: cover;
}

#block1 {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 1;
}

#block2 {
        grid-column-start: 3;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 1;
}


#block3 {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 3;
        grid-row-end: 3;
}


#block4 {
        grid-column-start: 3;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 3;
}






/* PAGE MUSIC */

#input-div {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

#music-input {
    display: block;
    text-align: center;
    font-size: 15vh;
    width: 10px;
    color:black;
    background-color:rgba(255, 255, 255, 0.5);
    border: 0px solid;
    outline: none;
    font-weight: bold;
}

#music-image {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    /* top:0%;
    left:0%;
    background-size:cover;
 */
}

#music-button {
    position:absolute;
    right: 10%;
    bottom: 10%;
}

#button-div {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#start-button {
    z-index: 3;
}

/* input ok */

.heartbeat {
	-webkit-animation: heartbeat 1s ease-in-out both;
	        animation: heartbeat 1s ease-in-out both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-1-17 16:31:17
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
 @-webkit-keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  @keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  

/* input nok */

.shake-horizontal {
	-webkit-animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-1-17 16:0:7
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shake-horizontal
 * ----------------------------------------
 */
 @-webkit-keyframes shake-horizontal {
    0%,
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
    }
    20%,
    40%,
    60% {
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
    }
    80% {
      -webkit-transform: translateX(8px);
              transform: translateX(8px);
    }
    90% {
      -webkit-transform: translateX(-8px);
              transform: translateX(-8px);
    }
  }
  @keyframes shake-horizontal {
    0%,
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
    }
    20%,
    40%,
    60% {
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
    }
    80% {
      -webkit-transform: translateX(8px);
              transform: translateX(8px);
    }
    90% {
      -webkit-transform: translateX(-8px);
              transform: translateX(-8px);
    }
  }
  

/* PAGE INTRODUCTION */

#content-intro {
    position: fixed;
    top: 60vh;
    left:10vw;
    width:80vw;
}

span.intro {
    width: 100%;
    display: block;
    font-size: 10vh;
    color: white;
}

#intro3 {
    color:purple;
}

.next-button {
    background-color:white;
    color: black;
    border-radius: 50%;
    font-size: 50px;
    text-decoration: black;
    width: 50px;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    right:10vw;
    top: 50%;
  }



/* VIDEO INTRO */
#video-intro {
    position: fixed;
    left: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
  }


  /* Key Frames */


  /* ----------------------------------------------
 * Generated by Animista on 2020-1-20 9:44:42
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-flicker-in-glow
 * ----------------------------------------
 */
@-webkit-keyframes text-flicker-in-glow {
        0% {
          opacity: 0;
        }
        10% {
          opacity: 0;
          text-shadow: none;
        }
        10.1% {
          opacity: 1;
          text-shadow: none;
        }
        10.2% {
          opacity: 0;
          text-shadow: none;
        }
        20% {
          opacity: 0;
          text-shadow: none;
        }
        20.1% {
          opacity: 1;
          text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
        }
        20.6% {
          opacity: 0;
          text-shadow: none;
        }
        30% {
          opacity: 0;
          text-shadow: none;
        }
        30.1% {
          opacity: 1;
          text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
        }
        30.5% {
          opacity: 1;
          text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
        }
        30.6% {
          opacity: 0;
          text-shadow: none;
        }
        45% {
          opacity: 0;
          text-shadow: none;
        }
        45.1% {
          opacity: 1;
          text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
        }
        50% {
          opacity: 1;
          text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
        }
        55% {
          opacity: 1;
          text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
        }
        55.1% {
          opacity: 0;
          text-shadow: none;
        }
        57% {
          opacity: 0;
          text-shadow: none;
        }
        57.1% {
          opacity: 1;
          text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
        }
        60% {
          opacity: 1;
          text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
        }
        60.1% {
          opacity: 0;
          text-shadow: none;
        }
        65% {
          opacity: 0;
          text-shadow: none;
        }
        65.1% {
          opacity: 1;
          text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
        }
        75% {
          opacity: 1;
          text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
        }
        75.1% {
          opacity: 0;
          text-shadow: none;
        }
        77% {
          opacity: 0;
          text-shadow: none;
        }
        77.1% {
          opacity: 1;
          text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
        }
        85% {
          opacity: 1;
          text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
        }
        85.1% {
          opacity: 0;
          text-shadow: none;
        }
        86% {
          opacity: 0;
          text-shadow: none;
        }
        86.1% {
          opacity: 1;
          text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
        }
        100% {
          opacity: 1;
          text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
        }
      }
      @keyframes text-flicker-in-glow {
        0% {
          opacity: 0;
        }
        10% {
          opacity: 0;
          text-shadow: none;
        }
        10.1% {
          opacity: 1;
          text-shadow: none;
        }
        10.2% {
          opacity: 0;
          text-shadow: none;
        }
        20% {
          opacity: 0;
          text-shadow: none;
        }
        20.1% {
          opacity: 1;
          text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
        }
        20.6% {
          opacity: 0;
          text-shadow: none;
        }
        30% {
          opacity: 0;
          text-shadow: none;
        }
        30.1% {
          opacity: 1;
          text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
        }
        30.5% {
          opacity: 1;
          text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
        }
        30.6% {
          opacity: 0;
          text-shadow: none;
        }
        45% {
          opacity: 0;
          text-shadow: none;
        }
        45.1% {
          opacity: 1;
          text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
        }
        50% {
          opacity: 1;
          text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
        }
        55% {
          opacity: 1;
          text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
        }
        55.1% {
          opacity: 0;
          text-shadow: none;
        }
        57% {
          opacity: 0;
          text-shadow: none;
        }
        57.1% {
          opacity: 1;
          text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
        }
        60% {
          opacity: 1;
          text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
        }
        60.1% {
          opacity: 0;
          text-shadow: none;
        }
        65% {
          opacity: 0;
          text-shadow: none;
        }
        65.1% {
          opacity: 1;
          text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
        }
        75% {
          opacity: 1;
          text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
        }
        75.1% {
          opacity: 0;
          text-shadow: none;
        }
        77% {
          opacity: 0;
          text-shadow: none;
        }
        77.1% {
          opacity: 1;
          text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
        }
        85% {
          opacity: 1;
          text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
        }
        85.1% {
          opacity: 0;
          text-shadow: none;
        }
        86% {
          opacity: 0;
          text-shadow: none;
        }
        86.1% {
          opacity: 1;
          text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
        }
        100% {
          opacity: 1;
          text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
        }
      }
      

      /* ----------------------------------------------
 * Generated by Animista on 2020-1-20 12:38:22
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation pulsate-bck
 * ----------------------------------------
 */
@-webkit-keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2020-1-20 14:47:7
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
 @-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2020-1-21 18:4:7
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * @animation flicker-in-1
 * ----------------------------------------
 */
 @-webkit-keyframes flicker-in-1 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  10.1% {
    opacity: 1;
  }
  10.2% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  20.1% {
    opacity: 1;
  }
  20.6% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  30.1% {
    opacity: 1;
  }
  30.5% {
    opacity: 1;
  }
  30.6% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  45.1% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  55.1% {
    opacity: 0;
  }
  57% {
    opacity: 0;
  }
  57.1% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  60.1% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  65.1% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  75.1% {
    opacity: 0;
  }
  77% {
    opacity: 0;
  }
  77.1% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  85.1% {
    opacity: 0;
  }
  86% {
    opacity: 0;
  }
  86.1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flicker-in-1 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  10.1% {
    opacity: 1;
  }
  10.2% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  20.1% {
    opacity: 1;
  }
  20.6% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  30.1% {
    opacity: 1;
  }
  30.5% {
    opacity: 1;
  }
  30.6% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  45.1% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  55.1% {
    opacity: 0;
  }
  57% {
    opacity: 0;
  }
  57.1% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  60.1% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  65.1% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  75.1% {
    opacity: 0;
  }
  77% {
    opacity: 0;
  }
  77.1% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  85.1% {
    opacity: 0;
  }
  86% {
    opacity: 0;
  }
  86.1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}



  /* A EXECUTER A LA FIN */

